:root{
    --base: hsl(212, 100%, 45%);
    --shade:hsl(212, 79%, 54%);
     --dark:hsl(212, 100%, 9%);
         --dark3:hsl(212, 100%, 5%);
      --dark2: hsl(212, 32%, 37%);
       --grey1: hsl(212, 0%, 91%);
         --grey2: hsl(212, 2%, 96%);
             --grey3: hsl(212, 0%, 98%);
            
}