header{
    padding: 120px 48px;
    background-image: url(../bg/square.png);
    background-size: contain;
}

.hero--section{
    display: grid;
    grid-template-columns: 1fr; 
    place-content: center;
  
    
   video{
       margin-top: 1.5em;
      place-self: center;
   }
    h2{
         color: var(--dark);
    }
    h3{
        font-weight: 400;
         color: var(--dark2);
         margin-top: 0;
    }
    article{
        place-self: center;
    }

    a{
        background-color: var(--base);
        color: var(--grey3);
        font-weight: 500;
        @include flex-1;
        max-width: 220px;

        svg{
            margin-left: 0.5em;
        }
        
        
       
    }
   
}