html {
    font-size: 100%;
}

/*16px*/

body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.75;
   
}

p {
    margin-bottom: 1rem;
  font-family: 'Source Sans Pro',
    sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small,
figcaption {
    font-size: 0.8rem;
}

.button{
    padding: 0.75em 1em;
    appearance: none;
    border: none;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 4px;
    cursor: pointer;
    &:active {
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
    }

    &:hover{
        background-color: var(--base);
    }



}
