@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Source+Sans+Pro&display=swap');
@import './normalize';
@import './reset';
@import './uti';
@import './Colors';
@import './Typ';
@import './default';
@import './nav';
@import './header';
@import './Main';
@import './error';